---
layout: default
title: Sobre Mim
---
{% block head_meta %}
<meta name="robots" content="index, follow">
<meta name="description" content="Quem é Guilherme? Programador com experiência em várias áreas do desenvolvimento de software. Conheça mais sobre ele.">
{% endblock %}

{% block content %}
    <h1>Sobre Mim</h1>

    <h2>Guilherme</h2>

    <p>
        Sou programador com três anos de experiência no mercado e sete anos dedicados ao estudo da programação. Durante essa jornada, tive a oportunidade de trabalhar com tecnologias como PHP, JavaScript, Laravel, React.js, MySQL, PostgreSQL e Docker.
    </p>

    <p>
        Como freelancer, fui responsável por desenvolver desde sistemas complexos até pequenos sites institucionais, atuando em todas as etapas do processo, incluindo desenvolvimento de front-end e back-end, gestão de projetos e comunicação direta com clientes.
    </p>

    <p>
        Atualmente, busco crescer como desenvolvedor Júnior e compartilhar o conhecimento que adquiri ao longo dos anos. Tenho um forte compromisso com a entrega de soluções de alta qualidade e sempre busco aprender novas ferramentas e práticas para aplicar em meus projetos.
    </p>

    <p>
        Sou apaixonado por arquitetura de software, qualidade de código e boas práticas de desenvolvimento. Acredito que a base de qualquer software de qualidade começa com uma arquitetura bem estruturada e sustentada ao longo do tempo. Trabalho de forma organizada, com foco em deadlines e na resolução de problemas de forma eficiente.
    </p>

    <h3>Como apoiar</h3>

    <p>
        Se você gostaria de me apoiar e incentivar a continuar criando conteúdo gratuito tanto aqui quanto em outras plataformas, existem algumas formas. Você pode, ao assistir meus conteúdos, deixar um comentário positivo ou me apoiar em minhas redes sociais e plataformas de apoio.
    </p>

    <h3>Redes sociais</h3>

    <ul>
        <li>
            <a href="https://youtube.comv">YouTube</a>
        </li>
        <li>
            <a href="https://twitter.com">Twitter</a>
        </li>
        <li>
            <a href="https://linkedin.com/-dev">LinkedIn</a>
        </li>
        <li>
            <a href="https://github.com/">GitHub</a>
        </li>
    </ul>
{% endblock %}
